.mainHelp {
    display: flex;
    flex-direction: row;
}


.middle-help-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin-left:15%;
    padding-top: 10%;
    padding-left: 5%;
}
