.middle-results-history {
    position: absolute;
    width: 70%;
    margin-left: 22%;
    margin-top: 1%;
    border: 1px solid;
    border-radius: 3px;
    background-color: #273339;
}

.body-results-history {
    background-color: #E7E6E6;
}

.header-results-history {
    display: flex;
    flex-direction: row;
}

.button-remove {
    width:50%;
    margin-bottom: 0.95%; /*10px*/
    margin-top: 0.95%; /*10px*/
    padding-left: 95%;
    height: 4vh; /*30px*/
    opacity: 0.75;
    color: #FAB62B;
}
.button-remove:hover{
    opacity:1;
}

.button-remove:disabled{
    opacity: 0.4;
}

.button-details {
    height: 1.6vw; /*25px*/
}

.details-history {
    height: 4vh;
}

.table-cell {
    font-style: italic;
    background-color: #E7E6E6;
}

.table-rows {
    background-color: #E7E6E6;
}

.table-head {
    font-size: larger;
    position: absolute;
    padding-left: 2%;
    color: white;
}

.MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover {
    background-color: rgba(140,209,245,0.5) !important;
}



.MuiCheckbox-colorSecondary.Mui-checked {
    color: #878787 !important;
}

.nb-select {
    font-size: small;
    color: white;
    position: absolute;
    padding-left: 65%;
    padding-top: 1.3%;
}