.img-demonstrateur{
    padding-top:13.5vh;
    width:39vw;
    align-self:center;
}

.middle {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.middle-run {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    padding-left:7.35vw;
}

.run-buttons {
    padding-left:6.2vw;
    padding-top:10.6vh;
    padding-bottom:5.3vh;
}

.bouton-runmode{
    width: 3.9vw;    
    opacity:0.6;
}

.bouton-runmode-disabled {
    width: 3.9vw;
    opacity: 0.2;
}

.space-button-runmode {
    padding-right: 3.25vw;
}

.bouton-runmode-stop {
    width: 4.15vw;
    opacity: 0.6;
}

.bouton-runmode:hover {
    opacity: 1;
}

.bouton-runmode:disabled {
    opacity: 0.2;
}

.bouton-runmode-stop:hover {
    opacity: 1;
}

.run-console {
    background: black;
    color: #E7E6E6;
    width: 30.45vw;
    padding-top: 3.7vh;
    padding-bottom: 34.1vh;
    border-style:solid;
    border-width:5px;
    border-color:black;
    border-radius:4px;
}

.run-console-mtnc {
    background: black;
    color: #E7E6E6;
    width: 78.75%;
    margin-left:10%;
    padding-bottom: 31%; 
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 2px;
}

.run-console-text{
    padding-left:3vw;
    font-size:2.05vh;
}

.run-console-text-mtnc {
    padding-left: 3%;
}

.flux-video {
    padding-top: 1%;
    padding-left:10%;
    width: 80%;
}

.console-wrap-mtnc{
    display: flex;
    flex-direction: row;
}

.save-icon-mtnc {
    width:65%;
    opacity:0.8;
}

.save-icon-mtnc:hover {
    opacity: 1;
}

.save-icon-mtnc-disabled {
    width: 65%;
    opacity: 0.2;
}


.wrap-save-icon-mtnc {
    padding-top:29%;
    margin-left:3%;
    width:7%;
}