.middleResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.cardDescript {
    height: 52vh;
    width: 30vw;
}

.cardBody {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.cardImage {
    width: 46%; /*50%*/
}

.cardDescriptTitle {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    background-color: #E7E6E6 !important;
}

.titleDiametre {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.cardResult {
    text-align: center;
}

.test {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    justify-content: center;
    align-items: center;
}

.BackNextButtons {
    padding-top: 2%; /*3%*/
    display: flex;
    flex-direction: row;
}

.unconformSection {
    padding-left: 5%;
}

.validateSection {
    padding-left: 5%;
}

.iconValidate {
    color: #7ABD6A;
}

.iconUnconform {
    color: #E30613;
}

.cardTrous {
    padding-top: 8%;
}

#numPage {
    font-size: 120%;
    padding-left: 2%;
    padding-right: 2%;
}

.icone-res {
    height: 60%;
}

.headerTrou {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: #E7E6E6 !important;
}

.iconSearchDiv {
    padding-left: 80%; /*75%*/
}

.iconSearch {
    height: 100%;
}

.buttonNextBack {
    border-radius: 10px;
    width: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white !important;
}
