﻿.middleResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.return-icon {
    background-color: #E7E6E6;
    border-style:solid;
    border-width:1px;
    width:15%;
    opacity:0.5;
}
.return-icon:hover{
    opacity:1;
}
.box-return{
    width:35%;
}
.enveloppe-box-card{
    display:flex;
    flex-direction:row;
}

.cardDescript {
    height: 52vh;
    width: 30vw;
}

.cardBody {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.cardImage {
    width: 46%; /*50%*/
}

.cardDescriptTitle {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    background-color: #E7E6E6 !important;
}

.titleDiametre {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.cardResult {
    text-align: center;
    border: 1px solid;
    border-radius: 3px;
}

.test {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    justify-content: center;
    align-items: center;
}

.BackNextButtons {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

.unconformSection {
    padding-left: 5%;
}

.validateSection {
    padding-left: 5%;
}

.iconValidate {
    color: #7ABD6A;
}

.iconUnconform {
    color: #E30613;
}

.cardTrous {
    padding-top: 8%;
}

#numPage {
    font-size: 120%;
    padding-left: 2%;
    padding-right: 2%;
}

.icone-res {
    height: 40%;
    align-items: center;
    justify-content: center;
}

.headerTrou {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: #E7E6E6 !important;
}

.iconSearchDiv {
    padding-left: 80%; /*75%*/
}

.iconSearch {
    height: 100%;
}

.buttonNextBack {
    border-radius: 10px;
    width: 8vw;
    height: 2vw;
    align-items: center;
    justify-content: center;
    background-color: white !important;
}

.button-save-results {
    border-radius: 5px;
    height: 2vw;
    width: 15vw;
    margin-left: 19.6vw;
    background-color: #273339;
    color: white;
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
    justify-content: center;
    opacity: 0.8;
}

    .button-save-results:hover {
        opacity: 1;
    }

    .button-save-results:disabled {
        opacity: 0.2;
    }
