

.buttonNextBack {
    border-radius: 10px;
    width: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white !important;
}
