/* Popup style */
.popup-box-info {
    position: absolute;
    background: #00000050;
    width: 130%;
    height: 60%;
    top: 20%;
    right : -13%;
  }
   
  .box-info {
    position: absolute;
    width: 85%;
    margin: 25px;
    height: 70%;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 2px solid #999;
  }

.popup-recap-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
    text-align: left;
    color: #273339;
    font-weight:800;
}

.bouton-popupInfo-OK{
  background-color: #273339;
  color: white;
  opacity: 0.7;
  position : absolute;
  left:80px;
  bottom : 50px;
  width: 150px;
}
