.mainResult{
    display:flex;
    flex-direction:row;
}

#menu-bar{
   width:14%;
}

.middle-result-screen {
  
    width: 86%;
    border-right-style: solid;
    border-right-color: #273339;
    border-right-width: 2px;
}