.pge-id-title {
    text-align: center;
    padding-bottom: 10px;
    color: #273339;
}

.pge-id-champ {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    color: black;
}

.input-box, textarea{
    background-color:white;
    width: 98%; 
}

.input-box-fail, textarea {
    border-style: solid;
    border-color: rgba(227,6,19,0.8);
    border-width:2px;
    width: 98%;
}

.lineCo{
    padding-top:10px;
}

.input-button{
    background-color: #273339;
    color: white;
    float: right;
    font-size: small;
    height: 25px;
    border-radius:6px;
}

.input-button:disabled {
    background-color: #273339;
    opacity:0.2;
}

.login{
    display: flex;
    flex-direction: column;
}

.label{
    padding-bottom: 20px;
}

.forgotten-mdp{
    font-size: small;
    text-decoration: underline;
    color : blue;
}

.logo-usr {
    padding-top: 60px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.info-erreur {
    padding-top: 8px;
    font-size: small;
    font-style: italic;
    color: rgb(227,6,19);
    text-align: center;
}